#root {
  background-color: black;
  padding: 20px 0;
}
.App {
  text-align: center;
  width: 50%;
  margin: auto;
  color: white;
  /* height: 90vh; */
  border-radius: 1rem;

  background-color: #3c3a3a;
}
.comtainer {
  width: 70%;
  margin: auto;
}
.form-rounded {
  border-radius: 1rem !important;
  border: 3px solid green !important;
  /* outline: 2px solid green !important; */
}
.signup_button {
  background-color: black;
  color: white;
  border: none;
  margin-top: 20px;
  margin-right: 10px;
  border-radius: 2rem;
  padding: 8px 23px;
}
.active_button {
  background-color: #7bed8e;
  color: black;
  border: none;
  margin-top: 20px;
  border-radius: 2rem;
  padding: 8px 23px;
}
.label_text {
  display: block;
  text-align: left;
  margin-left: 15px;
  margin-bottom: 5px;
}
.submit_btn {
  background-color: #7bed8e;
  color: black;
  border: 0;
  padding: 14px 50px;
  margin: 20px 0;
  border-radius: 4rem;
}
.submit_btn:hover {
  background-color: greenyellow;
}
.term_condition {
  color: #01e201;
  cursor: pointer;
}
.title {
  margin: 20px 0;
}
.error {
  color: red;
}
